.ContentTitle {
  margin-top: 16px;
  margin-bottom: 8px;

  &:nth-child(1) {
    margin-top: 0;
  }

  & .PersonaLinkWrapper {
    display: inline;
  }

  &Description {
    line-height: 150%;

    & > b {
      display: block;
      margin-bottom: 8px;
    }

    .Link {
      display: inline-block;
      color: #000;
      margin: 16px 0 0 0;
    }
  }
}

.Tags {
  margin-top: 12px;
  display: flex;
  flex-direction: column;

  & .TagSection {
    display: inline-flex;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start;

    & > div:nth-of-type(1) {
      min-width: 110px;
    }

    & + .TagSection {
      margin-top: 10px;
    }
  }
}

@media (max-width: 800px) {
  .ContentTitle {
    font-size: 16px;

    & span {
      display: inline-block;
      margin-bottom: 10px;
    }

    & .PersonaLinkWrapper {
      display: block;
    }
  }
}
