.SelectionView {
  position: relative;

  & .PersonaName {
    font-size: 24px;
    height: 30px;
    text-align: center;
    color: #ababab;
    margin: 10px 0 20px;
  }

  & .BiasList {
    padding: 0 8px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 370px;
    scroll-behavior: smooth;

    .selectedBiasesNum {
      color: #9e9e9e;
      font-size: 14px;
      margin-bottom: 5px;
      display: block;
    }
  }

  & .Placeholder {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 100%;
    font-size: 24px;
    color: #bfbfbf;
    padding: 140px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > img {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .SelectionView {
    & .BiasList {
      .selectedBiasesNum {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 800px) {
  .SelectionView {
    & .BiasList {
      height: auto;
      min-height: 200px;
    }

    & .Placeholder {
      padding: 60px 10px 0;
      justify-content: center;

      & > img {
        display: none;
      }
    }
  }
}
