.RelatedQuestionTooltip {
  & .Row {
    display: flex;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 10px;
    }

    & .Image {
      width: 10px;
      height: 16px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & > .Text {
      width: 276px;
    }

    &:last-of-type {
      margin-top: 12px;
    }
  }

  & .BiasList {
    margin-top: 10px;
    padding-left: 18px;

    & .Bias,
    & .OtherBiases {
      font-size: 12px;
      color: #595959;
      margin-top: 6px;
    }

    & .OtherBiases {
      margin-top: 10px;
    }
  }
}
