.wrapper {
  background-image: url('/assets/certificate/img.png');
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btnWrapper {
    background: #fff;
    box-shadow: 0px -4px 16px 0px #00000026;
    width: 100%;
    padding: 11.5px 17px;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;

    &:last-child {
      margin-right: 17px;
    }
  }
}

.pdfFont {
  p,
  span,
  h1 {
    font-family: 'Lato', sans-serif !important;
  }
}
