@import '@styles/_animations.scss';

.usedBy {
  height: 251px;
  position: relative;
  z-index: 2;
  max-width: 1440px !important;
  display: flex;
  flex-direction: column;
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/assets/landingPage/usedByBg.png');
    opacity: 0.15;
    z-index: 1;
  }
}

.darkTheme {
  .title {
    color: #ffffffd9;
    z-index: 1;
  }

  &::before {
    background-image: url('/assets/landingPage/usedByDark.png');
    background-size: cover;
    opacity: 1;
  }
}

.title {
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Source-Serif-SemiBold', sans-serif;
  font-weight: 700;
  margin: 0 0 30px 0;
  width: 100%;
  max-width: 1140px;
  text-align: left;
}

.inViewTitle {
  @extend .animate-fadeInRightToLeft;
}

.carouselContainer {
  max-width: 1140px;
  max-height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 5;

  &::before,
  &::after {
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
  }
}

.carouselTrack {
  display: flex;
  width: calc(1550px * 2);
  animation: infiniteLoop 30s linear infinite;
  will-change: transform;
}

.usedByItem {
  width: 1550px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 960px) {
  .usedBy {
    .title {
      padding-left: 30px;
      font-size: 20px;
    }
  }
}

@keyframes infiniteLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1550px, 0, 0);
  }
}
