.popup {
  animation: fadeIn ease-in 0.4s;
  -webkit-animation: fadeIn ease-in 0.4s;
  -moz-animation: fadeIn ease-in 0.4s;
  -o-animation: fadeIn ease-in 0.4s;
  -ms-animation: fadeIn ease-in 0.4s;
  width: 100%;
  max-width: 440px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  padding: 10px;
  z-index: 8;

  .title {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 15px 15px 15px;
  }

  .link {
    font-size: 14px;
  }

  .iconWrapper {
    right: 0;
    cursor: pointer;
    position: absolute;
    display: flex;
    padding-right: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .popup {
    position: fixed;
    bottom: 25px;
  }
}
