.body {
  overflow: hidden;
  background: #fafafa;
  box-sizing: border-box;
  position: relative;

  .wrapper {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    transition: 0.1s;
    margin-top: 94px;
    position: relative;
    padding-bottom: 10vh;

    .sectionDescription,
    .sectionTitle {
      margin: 0;
      padding: 0;
    }

    .pageTitle {
      text-align: center;
      font-size: 36px;
      color: #28587b;
      font-family: 'RedHatDisplay';
      font-weight: 500;
    }

    .sectionTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
    }

    .mainTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .link {
      color: #28587b;
      text-decoration: underline;
    }

    .parametersTxt,
    .usageTitle {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .sectionDescription {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      padding-right: 40px;
    }

    .separator {
      border: 1px solid #c4c4c4;
      margin-top: 10px;
    }
  }

  .Motto {
    font-size: 20px;
    color: #28587b;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 1440px) {
  .body {
    .wrapper {
      .sectionDescription {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 900px) {
  .body {
    .wrapper {
      width: 100%;
      padding: 20px 20px;
      margin-top: 49px;

      .sectionDescription {
        padding-right: unset;
      }

      .borderedContainer,
      .separator {
        margin-right: 50px;
      }

      .mainInfo,
      .mainInfo,
      .codeUsage,
      .borderedContainer,
      .pageTitle {
        padding-right: 50px;
      }
    }
  }
}

@media (max-width: 800px) {
  .body {
    .wrapper {
      margin-top: unset;
    }
  }
}
