.FolderViewLayout {
  width: 100%;
  max-width: 1360px;
  height: 100%;
  padding: 56px 0px 8px 8px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}

.Left {
  width: 30%;
  min-width: 460px;
  height: 100%;
  background: white;
  box-sizing: border-box;

  .ContentWrapper {
    padding: 24px 18px 24px 28px;
  }

  .HeadlineContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    h1 {
      color: #28587b;
      font-size: 36px;
      font-family: 'RedHatDisplay';
      font-weight: 400;
      margin: 0;
      margin-right: 16px;
    }

    span {
      color: #9e9e9e;
      font-size: 18px;
      font-family: 'RedHatDisplay';
      font-weight: 400;
      margin-bottom: 8px;
    }
  }

  p {
    font-size: 16px;
    margin-top: 16px;
    line-height: 150%;
  }
}

.LeftHy {
  margin-right: 20px !important;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.5);
    border-radius: 5px;
  }
}

.Centralizer {
  width: calc(100vw - 480px - 240px);
  height: 100%;
}

.Right {
  width: 40%;
  min-width: 640px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;

  .Mask {
    position: fixed;
    width: 460px;
    height: 100px;
    background: #fafafa;
    margin-top: -7px;
    margin-left: -15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    filter: blur(4px);

    svg {
      position: absolute;
      top: 90px;
      right: 18px;
      transform: scale(1.15) rotate(180deg);
    }
  }

  .FrontItem {
    margin-left: unset;
    margin-top: auto;
    margin-bottom: -20px;
    position: sticky;
    position: -webkit-sticky;
    top: 100%;
    display: block;

    //this goes inside of component and gets changeable content
    //then adds animation
    > div {
      > div {
        > div {
          > p,
          ul {
            animation: fadeIn ease-in 0.5s;
            -webkit-animation: fadeIn ease-in 0.5s;
            -moz-animation: fadeIn ease-in 0.5s;
            -o-animation: fadeIn ease-in 0.5s;
            -ms-animation: fadeIn ease-in 0.5s;
          }
        }
      }
    }
  }

  .ListContainer {
    position: relative;
    max-width: 450px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 113px 0px 0px 0;
    box-sizing: border-box;
    transition: 0.8s;

    .List {
      width: 422px;
      box-shadow: rgb(0 0 0 / 15%) 0px 40px 15px;
      margin-left: 10px;
      display: grid;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(192, 192, 192, 0.5);
      border-radius: 5px;
    }
  }

  .LineContainer {
    position: absolute;
    margin-left: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;

    div {
      display: flex;
    }

    .Line {
      display: block;
      width: 2px;
      margin-right: 8px;
    }

    .Green,
    .Red,
    .Purple {
      border-top: 10px solid #fafafa;
    }

    .Label {
      position: sticky;
      position: -webkit-sticky;
      top: 42px;
      height: fit-content;
      width: auto;
      font-size: 14px;
    }

    .Blue {
      .Line {
        top: 42px;
        position: -webkit-sticky;
        height: 1263px;
        background: #bbe4f2;
      }

      .Label {
        color: #4c8cc1;
      }
    }

    .Green {
      .Line {
        height: 1225px;
        background: #c5eadd;
      }

      .Label {
        color: #75b3b3;
      }
    }

    .Red {
      .Line {
        height: 1010px;
        background: #dbcad1;
      }

      .Label {
        color: #573e48;
      }
    }

    .Purple {
      .Line {
        height: 475px;
        background: #cdc8fc;
      }

      .Label {
        color: #5c578d;
      }
    }
  }
}

@media (max-width: 1440px) {
  .Left {
    p {
      font-size: 14px;
      line-height: unset;
    }
  }
}

@media (max-width: 1360px) and (min-width: 801px) {
  .FolderViewLayout {
    height: calc(100% - 30px) !important;
  }
  .Centralizer {
    width: calc(100vw - 320px - 120px);
  }
  .Left {
    min-width: 340px;
    margin-right: 20px !important;
    overflow-y: scroll;

    p {
      margin-top: 14px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(192, 192, 192, 0.5);
      border-radius: 5px;
    }
  }

  .Right {
    .LineContainer {
      min-width: 100px !important;
      margin-left: 470px !important;
    }
  }
  .FrontItem {
    margin-left: 10px;
  }

  .ListContainer {
    width: 446px;
    padding: 110px 0 0 !important;

    .List {
      box-shadow: rgb(0 0 0 / 15%) 0px 40px 15px;
      height: 4000px;
      width: 390px !important;
      margin-left: 10px;
    }
  }
}

@media (max-width: 1540px) {
  .Right {
    .LineContainer {
      .Label {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 1010px) {
  .FolderViewLayout {
    display: none;
  }
}

@media (max-width: 1120px) and (min-width: 801px) {
  .LineContainer {
    visibility: hidden !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
