@import '@styles/_animations.scss';

.timerContainer {
  display: flex;
  gap: 15px;
  align-items: center;

  .timeLeftTxt {
    font-size: 16px;
  }
}

.timer {
  padding: 5px 12px;
  border-radius: 4px;
}

.changed-red,
.red {
  color: #d3666d;
}

.changed-orange,
.orange {
  color: #e19f3b;
}

.changed-green,
.green {
  color: #77a34b;
}

.red {
  border: 1px solid currentColor;
}

.orange {
  border: 1px solid currentColor;
}

.green {
  border: 1px solid currentColor;
}

.grey {
  border: 1px solid currentColor;
}

.timeIsUp {
  background-color: #e3e3e380;

  > div {
    @extend .animate-slideDown;
    width: 428px !important;
  }

  .wrapper {
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 16px 0px #00000026;
  }
}

.mobileTimeIsUp {
  display: flex;
  width: 97vw;
  height: 93vh;
  position: fixed;
  top: 53px;
  left: 7px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  z-index: 45;
}
