.cancelBtn {
  text-align: end;
  padding-top: 28px;
}

.savedPersonasModal {
  text-decoration: underline;
  color: #28587b;
  cursor: pointer;
}

.modalContentHy {
  * {
    font-family: 'NotoSansArmenian-Regular', sans-serif;
  }
}
