.SectionTitle {
  font-size: 16px;
  text-align: center;
  margin: 6px 0;
  font-weight: 700;
}

.SectionDescription {
  font-size: 16px;
}

.BiasList {
  margin-top: 16px;

  & .NoData {
    color: #bfbfbf;
    font-size: 24px;
    text-align: center;
    padding: 58px 0 42px;
  }
}

@media (max-width: 1440px) {
  .SectionDescription {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .SectionDescription {
    font-size: 14px;
    padding: 15px;
  }

  .BiasList {
    margin-top: 0;

    & > * {
      &:last-child {
        border-bottom-width: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
