.container {
  width: 240px;
  height: 36px;
  position: relative;
  overflow: hidden;
  margin-top: -10px;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.emoji {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;

  @for $i from 1 through $total {
    $random-x: random(28800) * 0.01px;
    $random-offset: random_range(-28800, 28800) * 0.01px;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 34px;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(5, 15) * 1s;
    $fall-delay: random(15) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 34px) scale($random-scale);
      }
    }
  }
}
