.MobileDisclimer {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 15px;

  & img {
    margin-bottom: 10px;
  }
}
