.StickyElement {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  background-color: #fff;
  height: 45px;
  z-index: 5;
}

.link {
  color: #5b88bd;
  text-decoration: none;
}

.Title,
.Subtitle {
  font-family: 'RedHatDisplay';
  text-align: center;
}

.uxcoreDescription {
  text-align: center;
}

.Title {
  margin: 35px auto 0;
  font-size: 24px;
  color: #28587b;
  font-weight: 600;
  text-align: center;
}

.Subtitle {
  text-align: center;
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  color: #9e9e9e;
  font-weight: 300;
}

.BiasCategory {
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  border-bottom: 1px solid #c4c3c3;
  padding: 0 16px;
}

.BiasCategory div {
  text-align: center;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  width: 100%;
  white-space: nowrap;
}

.BiasCategory.Fixed div {
  width: 0%;
}

.BiasCategory.Section1 {
  color: #4c8cc1;
  z-index: 2;
}

.BiasCategory.Section2 {
  color: #75b3b3;
  z-index: 3;
}

.BiasCategory.Section3 {
  color: #80739b;
  z-index: 4;
}

.BiasCategory.Section4 {
  color: #8073ff;
  z-index: 5;
}

.BiasTitle {
  position: relative;
  font-size: 16px;
  color: #000;
  display: flex;
  padding-left: 14px;
  height: 34px;
  align-items: center;
  line-height: 34px;
  border-bottom: 1px solid #c4c3c3;
  justify-content: space-between;
}

.BiasTitle.Section1 {
  background-color: rgba(187, 228, 242, 0.5);
  border-left: 4px solid #74d2f2;
}

.BiasTitle.Section2 {
  background-color: rgba(197, 234, 221, 0.5);
  border-left: 4px solid #7eeec7;
}

.BiasTitle.Section3 {
  background-color: rgba(219, 202, 209, 0.5);
  border-left: 4px solid #dc7ca4;
}

.BiasTitle.Section4 {
  background-color: rgba(205, 200, 252, 0.5);
  border-left: 4px solid #9084fa;
}

/* content */
.MobileContent {
  padding: 16px 16px 0px;
  border-bottom: 1px solid #c4c3c3;

  :nth-child(10) {
    margin: -16px -16px 0;
  }
}

.MobileLegendBlock {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.MobileLegendBlock img {
  margin-right: 5px;
}

.Footer {
  padding: 0 16px;
}

.MobileVersion {
  padding: 0 16px 16px;
  font-size: 11px;
  color: #9c9999;
  font-style: italic;
  text-align: right;
}

.BiasName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 310px;
  max-width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: normal;
}

.Bias:nth-of-type(1) {
  font-weight: 900;
  margin-right: 4px;
}

.Bias:nth-of-type(2) {
  width: 100%;
  overflow: hidden;
}

.BiasМobileLabels {
  margin-right: 14px;
  padding-top: 1px;
  display: flex;
  gap: 5px;
}

.BiasМobileLabels > img:last-of-type {
  margin-left: 2px;
}

@media (max-width: 480px) {
  .BiasCategory.Section1Hy {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 320px;
    max-width: 100%;

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 320px;
      max-width: 100%;
    }
  }
}
