.body {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom-color: #c4c4c4;
  border-left-color: #c4c4c4;
  border-right-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: -webkit-fill-available;
  width: -moz-available;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .google,
  .outlook,
  .apple {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    padding: 16px 18px;

    &:hover {
      background-color: #f1f1f1;
    }

    .icon {
      margin-right: 10px;
      object-fit: contain;
    }
  }

  .apple {
    background-color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
}

@media (max-width: 801px) {
  .body {
    position: unset;
    border: unset;
    width: 100%;
    display: flex;
    align-items: center;

    .iconAndLink {
      width: 100%;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: #f1f1f1;

        .google,
        .outlook,
        .apple {
          background-color: #f1f1f1;
        }
      }

      .google,
      .outlook,
      .apple {
        padding: 24px 0;
        display: flex;
        font-size: 16px;
        width: 90px;
        justify-content: unset;
        gap: 8px;

        .icon {
          margin-right: unset;
        }
      }
    }
  }
}
