.calculatingResults {
  width: 100%;
  height: calc(100vh - 45px);
  margin-top: 125px;
  text-align: center;

  .loaderWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 28px;

    .loader {
      display: inline-block;
      position: relative;
      width: 32px;
      height: 32px;
    }

    .title {
      font-size: 24px;
      line-height: 28.8px;
      font-width: 600;
    }

    .loader div {
      position: absolute;
      width: 32px;
      height: 32px;
      margin: 4px;
      border: 4px solid #5b88bd;
      border-radius: 50%;
      animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #5b88bd transparent transparent transparent;
    }

    .loader div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .loader div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .loader div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  .info {
    background-color: #ffffff;
    width: 100%;
    max-width: 497px;
    margin: 48px auto 0 auto;
    padding: 64px 18px;
    box-shadow:
      0px 8px 17px rgba(0, 0, 0, 0.05),
      0px 30px 30px rgba(0, 0, 0, 0.04),
      0px 68px 41px rgba(0, 0, 0, 0.03),
      0px 122px 49px rgba(0, 0, 0, 0.01),
      0px 190px 53px rgba(0, 0, 0, 0);

    .progress {
      width: 100%;
      max-width: 266px;
      margin: 0 auto 13px auto;

      .txtAndCheckmark {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 11px;

        .progressTxt {
          display: inline-block;

          font-weight: 600;
          line-height: 19.2px;
        }

        .checkmark {
          font-size: 18px;
          color: #4caf50;
          position: absolute;
          right: 0;
        }
      }

      .progressItem {
        width: 100%;
        margin: 0 auto 13px auto;
        max-width: 266px;

        position: relative;
        height: 2px;
        background: #e0e0e0;
      }

      .progressBar {
        width: 0;
        height: 2px;
        background: #2db675;
        animation: fill 1s forwards;
      }
    }

    @keyframes fill {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 560px) {
  .calculatingResults {
    .loaderWrapper {
      .loader {
        width: 40px;
      }
    }
  }
  @media (max-width: 560px) {
  }
  .calculatingResults {
    margin: 125px 4px 0 4px;

    .info {
      padding: 64px 5px;
      max-width: 400px;
    }
  }
}
