.decodeText {
  width: -webkit-fill-available;
  min-width: 100%;
  text-align: center;
  font-size: 14px;
}

.space {
  display: inline-block;
  width: 2px;
}

.textAnimation {
  display: inline-block;
  position: relative;
  color: transparent;
}

.textAnimation::before {
  content: '';
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0e182d;
  width: 0;
  height: 1em;
  transform: translate(-50%, -55%);
}

.textAnimation.state1::before {
  width: 1px;
}

.textAnimation.state2::before {
  width: 0.5em;
}

.textAnimation.state3 {
  color: black;
}

.textAnimation.state3::before {
  width: 0;
}
