.Share {
  display: unset;
  margin-right: 10px;
  position: relative;

  .ShareTxt {
    font-size: 14px;
    color: #5b88bd;
    position: relative;
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .Tooltip {
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
    position: absolute;
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 2px;
    top: calc(100% + 4px);
    right: calc(50% - 38px);

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      background-color: #fff;
      z-index: -1;
    }

    & a {
      padding: 1px;
      font-size: 0;
      border: 1px solid transparent;
      border-radius: 2px;
    }

    & a:hover {
      padding: 1px;
      font-size: 0;
      border-color: #cecece;
    }

    & a img {
      width: 20px;
      height: 20px;
    }
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  &:hover .Tooltip {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 901px) {
  .Share {
    .ShareTxt {
      font-size: 14px;
    }
  }
}
