.mobileOverlay {
  display: none;
}

.nps {
  position: fixed;
  bottom: 23px;
  background-color: #fafafa;
  border: 1px solid #c4c4c4;
  left: 50%;
  border-radius: 4px;
  padding: 14px 39px 12px 0;
  transform: translateX(-50%);
  display: flex;
  transition:
    opacity 0.5s ease-out,
    bottom 0.7s ease-out;
  box-shadow:
    0px 8px 17px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px 0px rgba(0, 0, 0, 0.04),
    0px 68px 41px 0px rgba(0, 0, 0, 0.03),
    0px 122px 49px 0px rgba(0, 0, 0, 0.01),
    0px 190px 53px 0px rgba(0, 0, 0, 0);
  width: 635px;
  justify-content: flex-end;

  .closeBtn {
    position: absolute;
    right: 12px;
  }

  .evasImgMobile {
    display: none;
  }

  .title {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
    position: relative;

    .firstWord {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 16px;
        width: 100%;
        height: 1px;
        background-color: #000000d9;
      }
    }
  }

  .scoreWrapper {
    display: flex;
    gap: 6px;
    margin-right: 26px;

    .score {
      background-color: #d9d9d9;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000a6;
      transition:
        background-color 0.3s,
        color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #8b8b8b;
        color: #ffffff;
      }
    }

    .filled,
    .selected {
      background-color: #8b8b8b;
      color: #ffffff;
    }

    .mobileSelected {
      background-color: #d9d9d9;
      color: #000000a6;
    }
  }
}

.btnWrapper {
  display: none;
}

.visible {
  bottom: 30px;
  opacity: 1;
  animation:
    slideIn 0.7s ease-out forwards,
    settle 0.3s 0.7s ease-out forwards;
}

.closing {
  animation: slideOut 0.7s ease-out forwards;
}

@media (max-width: 1440px) {
  .nps {
    .title {
      font-size: 14px;
    }
  }
}

@media (max-width: 900px) {
  .mobileOverlay {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 46;
    background-color: #00000040;
  }
  .nps {
    width: 88vw;
    justify-content: center;
    z-index: 48;
    padding: 32px 30px 38px 32px;

    .title {
      font-size: 16px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .scoreWrapper {
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: unset;

      .mobileSelected {
        background-color: #8b8b8b;
        color: #ffffff;
      }
    }

    .evasImg {
      display: none;
    }

    .evasImgMobile {
      display: block;
      padding-bottom: 16px;
    }

    .title {
      padding-bottom: 32px;
    }
  }
  .btnWrapper {
    padding-top: 48px;
    display: flex;
    justify-content: center;

    button {
      width: 269px;
    }
  }
}

@media (max-width: 600px) {
  .nps {
    width: 75%;
  }
}

@keyframes slideIn {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes slideOut {
  0% {
    bottom: 23px;
  }
  50% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: -100px;
    opacity: 0;
  }
}

@keyframes settle {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 23px;
  }
}
