.languageSwitcher {
  position: relative;
  display: inline-block;

  .dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    border-radius: 4px;
    width: 110px;
    margin: 0;
    background: #fff;
    z-index: 50;
    padding: 0;
  }

  &:hover {
    .dropdown {
      visibility: visible;
      opacity: 100%;
      border: 1px solid #cbcbcb;

      .link {
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #000;
        padding: 10px;

        .flag {
          padding-right: 10px;
        }

        &:hover {
          background: #f5f5f5;
        }
      }
    }
  }

  .switcher {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0 5px 12px;
    cursor: pointer;
  }

  .withFlags {
    width: 153px;
  }
}

@media (max-width: 1000px) {
  .languageSwitcher {
    .switcher {
      border: none;
      font-size: 14px;
      color: #000;
      padding: 15px 0 12px 12px;
    }

    .dropdown {
      .link {
        padding: 5px 10px;
      }
    }
  }
  .withFlags {
    .link {
      padding: 0px 10px !important;
    }
  }
}
