.achievements {
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 16px 20px 30px;
  align-items: center;

  .emoji {
    font-size: 24px;
  }

  .achievementTitle {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: #000000;
    line-height: 16.8px;
  }

  .achievementsWrapper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 7px;
    gap: 7px;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }

  .skeletonWrapper {
    width: 155px;
  }
}

@media (max-width: 901px) {
  .achievements {
    .achievementsWrapper {
      gap: 35px;
    }
  }
}
