.mainTitle {
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 32px;
  margin: 0;
  padding-bottom: 16px;
}

.nextUpdateTime {
  margin-top: 0;
}

.wrapper {
  display: flex;
  gap: 25px;
}

.container,
.testResults,
.statisticsWrapper,
.testResultsDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 126px;
  width: 269px;
  border-radius: 8px;
  box-shadow:
    0px 8px 17px 0px rgba(0, 0, 0, 0.05),
    0px 30px 30px 0px rgba(0, 0, 0, 0.04),
    0px 68px 41px 0px rgba(0, 0, 0, 0.03),
    0px 122px 49px 0px rgba(0, 0, 0, 0.01),
    0px 190px 53px 0px rgba(0, 0, 0, 0);
  background: #fff;
  text-decoration: none;
}

.testResults {
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.04);
  }
}

.testResults,
.testResultsDisabled {
  flex-direction: column;
  color: #de915b;
  gap: 16px;
  font-size: 16px;
  cursor: pointer;
}

.testResultsDisabled {
  color: #00000073;
  opacity: 90%;
  background-color: #fff;
  cursor: not-allowed;

  > svg {
    g {
      path {
        fill: #00000073;
      }
    }
  }
}

.statisticsWrapper {
  width: 67%;
  justify-content: space-around;

  .statisticsItem {
    width: 159px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(:first-child)::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 81%;
      background: #d9d9d9;
      left: -30px;
      top: 12px;
    }

    .title {
      font-size: 14px;
      color: #000000a6;
      padding-bottom: 20px;
      padding-top: 15px;
      height: 30px;
    }

    .valueWrapper {
      display: flex;
      flex-direction: column;

      .value {
        font-size: 30px;
        padding: 0;
        color: #000000a6;
      }

      .percentage {
        font-size: 14px;
        color: #00000073;
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 906px) {
  .wrapper {
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    margin: 0 8px;

    .testResults,
    .testResultsDisabled {
      width: 100%;
      height: 93px;
    }

    .statisticsWrapper {
      flex-direction: column;
      height: auto;
      width: 100%;
      position: relative;
      z-index: 2;

      .statisticsItem {
        padding: 16px 20px 10px 20px;
        width: 100%;
        max-width: 261px;

        .title {
          font-size: 16px;
        }

        .valueWrapper {
          .percentage {
            margin-bottom: unset;
          }
        }

        &:not(:first-child)::before {
          content: '';
          position: absolute;
          width: 100%;
          max-width: 261px;
          height: 1px;
          background: #d9d9d9;
          top: 0;
          left: 0;
        }
      }
    }

    .container {
      width: 100%;
    }
  }
}

@media (max-width: 310px) {
  .wrapper {
    .statisticsWrapper {
      .statisticsItem {
        max-width: 160px;
      }
    }
  }
}
