.DynamicButton {
  position: relative;
  height: 23px;
  background-color: #5396d3;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  padding-left: 6px;
  box-sizing: border-box;
  width: 84px;
  transition: 0.3s;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;

  & .Titles {
    position: absolute;
    top: 2px;
    transition: top 0.3s;

    & .Title {
      margin-bottom: 8px;
    }
  }

  &.Active1 {
    width: 134px;
    background-color: #77a34b;

    & .Titles {
      top: -23px;
    }
  }

  &.Active2 {
    width: 120px;
    background-color: #a36aa4;

    & .Titles {
      top: -48px;
    }
  }

  &.Active3 {
    width: 126px;
    background-color: #d3666d;

    & .Titles {
      top: -73px;
    }
  }

  &.Active4 {
    width: 106px;
    background-color: #e19f3b;

    & .Titles {
      top: -98px;
    }
  }
}

.Ru {
  width: 66px;

  &.Active1 {
    width: 86px;
  }

  &.Active2 {
    width: 126px;
  }

  &.Active3 {
    width: 126px;
  }

  &.Active4 {
    width: 78px;
  }
}

.Hy {
  width: 42px;
  height: 25px;

  &.Active1 {
    width: 72px;
  }

  &.Active2 {
    width: 120px;
    height: 32px;
  }

  &.Active3 {
    width: 140px;
    height: 35px;
  }

  &.Active4 {
    width: 113px;
    height: 35px;

    & .Titles {
      top: -103px;
    }
  }
}
