.openOnHover {
  position: relative;
  z-index: 8888;
  width: 190px;

  &:hover {
    .header {
      width: -webkit-fill-available;
      box-shadow:
        rgba(0 0 0 / 30%) 0 6px 13px -2px,
        rgba(0 0 0 / 25%) 0 4px 5px -2px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .body {
    }
  }

  .overlay {
    display: none;
  }

  .header {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px 11px;
    cursor: pointer;

    .addToCalendarTxt {
      color: #9e9e9e;
    }
  }

  .body {
    display: none;
  }
}

.calendar {
  position: relative;
  z-index: 8888;
  width: 190px;

  .header {
    width: -webkit-fill-available;
    box-shadow:
      rgba(0 0 0 / 30%) 0 6px 13px -2px,
      rgba(0 0 0 / 25%) 0 4px 5px -2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .body {
    display: block;
  }
}

.overlay {
  display: none;
}

.header {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px 11px;
  cursor: pointer;

  .addToCalendarTxt {
    color: #9e9e9e;
  }
}

.body {
  display: none;

  .google,
  .outlook,
  .apple {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    padding: 16px 18px;

    &:hover {
      background-color: #f1f1f1;
    }

    .icon {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  .apple {
    background-color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
}

.show {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(20 20 20 / 25%);
  border: 0;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh + 100px);
  inset-inline: 0;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  overflow-y: auto;
  padding: 20px 20px 130px;
  position: fixed;
  width: 100vw;
  z-index: 888;
}
