.mainTitle {
  margin-top: 32px;
  font-size: 16px;
  color: #000000a6;
  font-weight: 700;
}

.container {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  width: 900px;
  max-width: 100%;
  max-height: 100%;
  padding-top: 36px;
  padding-bottom: 32px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    align-items: baseline;

    .achievementWrapper,
    .skeletonWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 11px;
      max-width: 155px;
      width: 100%;
    }

    .skeletonWrapper {
      flex-direction: column;
      gap: 5px;
    }
  }

  .btnWrapper {
    width: 100%;
    padding-top: 25px;
    text-align: center;
  }
}

@media (max-width: 830px) {
  .container {
    width: 100%;
    height: 100%;

    .wrapper {
      align-items: baseline;
      justify-content: center;
      gap: 0;

      .achievementWrapper:last-child {
        display: none;
      }
    }

    .btnWrapper {
      padding: 30px 0 30px 0;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .wrapper {
      gap: 30px;

      .achievementWrapper {
        max-width: unset;
        width: unset;
      }
    }
  }
}
