.ModalLanguage {
  cursor: pointer;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 3px 9px 3px 9px;

  .LanguageTitle {
    text-decoration: none;
    color: #000;
  }
}

@media (max-width: 800px) {
  .ModalLanguage {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    display: block;
    position: absolute;
    right: 20px;

    .LanguageTitle {
      text-decoration: none;
      color: #000;
    }
  }
}
