.RelatedQuestionContainer {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  border-bottom: 1px solid #e9e9e9;

  & > :nth-child(1) {
    width: 100%;
  }

  & .RelatedQuestion {
    display: flex;
    align-items: flex-start;

    & .Number {
      margin: 8px 0 8px;
      margin-left: 14px;
      margin-right: 8px;
    }

    & .Text {
      margin: 8px 0 8px;
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .Priority {
    margin-left: 5px;
    margin-right: 5px;

    &.high {
      position: relative;
      top: 2px;
    }

    &.low {
      position: relative;
      top: -2px;
    }
  }
}
