@import '@styles/_animations.scss';

.Table {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;

  & .NoResults {
    padding: 10px 20px;
    font-size: 14px;
  }

  & .TableBody {
    overflow: overlay;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(40, 88, 123, 0.5);
      border-radius: 5px;
    }
  }

  &FilterWrapper {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f8f8f8;
    padding: 8px 18px 0;
    position: relative;
    transition: 0.2s;
    overflow: hidden;

    .LabelWrapper {
      display: inline-block;
    }

    .LabelWrapperAnimation {
      @extend .animate_pulsate;
    }

    .SelectionTxt {
      display: inline-block;
      color: rgba(0, 0, 0, 0.65);
      font-size: 16px;
      padding-right: 14px;
    }

    &.Collapsed {
      max-height: 0;
      padding: 0 18px;
    }

    & > div {
      margin-right: 10px;
      margin-bottom: 8px;
    }
  }

  & .AllQuestionsButton {
    margin-right: 10px;
    margin-bottom: 8px;
  }

  & .TableRow {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    &Tags {
      line-height: normal;
      padding: 0 0 10px;

      & div + div {
        margin-left: 5px;
      }

      .TableRowTag {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    &Data {
      display: flex;
      color: #000;
      align-items: baseline;

      & div:nth-child(1) {
        margin-right: 5px;
      }
    }

    &:link,
    &:focus,
    &:active {
      text-decoration: none;
      color: inherit;
    }

    &:nth-of-type(even) {
      background-color: #fafafa;
    }

    & + .TableRow {
      border-top: 1px solid #e9e9e9;
    }

    &:hover {
      background-color: rgba(71, 163, 230, 0.2) !important;

      & .TableRowData > div:nth-of-type(2) {
        text-decoration: underline;
      }
    }
  }
  .Hidden {
    display: none;
  }

  .questionTitle {
    font-size: 16px;
    display: contents;
    font-weight: 300;
    line-height: 150%;
    color: #000;
  }

  &.SearchLess {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e9e9e9;

    & .TableRow {
      &:nth-of-type(odd) {
        background-color: #fafafa;
      }

      &:nth-of-type(even) {
        background-color: #fff;
      }
    }

    & .TableRow {
      border-top: 1px solid #e9e9e9;
    }
  }

  .showMoreLessBtns {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.TableSearchWrapper {
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  .Table {
    .questionTitle {
      font-size: 14px;
    }
  }
}

@media (max-width: 1024px) {
  .Table {
    &FilterWrapper {
      .SelectionTxt {
        font-size: 16px;
      }
    }

    .questionTitle {
      font-size: 16px;
    }

    & .TableRow {
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  .Table {
    & .TableBody {
      max-height: none !important;
    }

    .SelectionTxt {
      margin-bottom: 16px;
      display: block;
    }

    .AllQuestionsButton,
    .TableFilter {
      margin-bottom: 8px;
    }

    .TableFilter {
      margin-right: 10px;
      margin-bottom: 8px;
    }
  }
}

.UXCoreModal {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;

  & .NoResults {
    padding: 10px 20px;
    font-size: 14px;
  }

  & .TableBody {
    overflow: overlay;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(40, 88, 123, 0.5);
      border-radius: 5px;
    }
  }

  &FilterWrapper {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #f8f8f8;
    padding: 8px 18px 0;
    position: relative;
    transition: 0.2s;
    overflow: hidden;

    .SelectionTxt {
      display: inline-block;
      color: rgba(0, 0, 0, 0.65);
      font-size: 16px;
      padding-right: 14px;
    }

    &.Collapsed {
      max-height: 0;
      padding: 0 18px;
    }

    & > div {
      margin-right: 10px;
      margin-bottom: 8px;
    }
  }

  & .AllQuestionsButton {
    margin-right: 10px;
    margin-bottom: 8px;
  }

  & .TableRow {
    opacity: 50%;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    &Tags {
      line-height: normal;
      padding: 0 0 10px;

      & div + div {
        margin-left: 5px;
      }

      .TableRowTag {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    &Data {
      display: flex;
      color: #000;
      align-items: baseline;

      & div:nth-child(1) {
        margin-right: 5px;
      }
    }

    &:link,
    &:focus,
    &:active {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      opacity: 100%;

      & .TableRowData > div:nth-of-type(2) {
        text-decoration: underline;
      }
    }
  }

  .questionTitle {
    font-size: 16px;
    display: contents;
    font-weight: 300;
    line-height: 150%;
  }

  &.SearchLess {
    border: none;
    border-radius: 0;

    & .TableRow {
      background-color: #fafafa !important;
    }

    & .TableRow {
      border-top: 1px solid #e9e9e9;
    }
  }

  .showMoreLessBtns {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
    background: #fafafa;
    margin-top: unset !important;

    .showMoreBtn,
    .showLessBtn {
      opacity: 50%;

      &:hover {
        opacity: 100%;
      }
    }
  }
}

.TableSearchWrapper {
  margin-bottom: 10px;
}

@media (max-width: 1440px) {
  .UXCoreModal {
    .questionTitle {
      font-size: 14px;
    }
  }
}

@media (max-width: 1024px) {
  .UXCoreModal {
    &FilterWrapper {
      .SelectionTxt {
        font-size: 16px;
      }
    }

    .questionTitle {
      font-size: 16px;
    }

    & .TableRow {
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  .UXCoreModal {
    & .TableBody {
      max-height: none !important;
    }

    .SelectionTxt {
      margin-bottom: 16px;
      display: block;
    }

    .AllQuestionsButton,
    .TableFilter {
      margin-bottom: 8px;
    }

    .TableFilter {
      margin-right: 10px;
      margin-bottom: 8px;
    }
  }
}
