.ContentTitle {
  margin-top: 16px;
  margin-bottom: 8px;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.Content {
  line-height: 150%;

  .Point {
    font-size: 16px;
    margin: 0;
  }
}

.Tags {
  margin-top: 12px;
  display: flex;
  flex-direction: column;

  & .TagSection {
    display: inline-flex;
    align-content: flex-start;
    flex-direction: row;
    align-items: flex-start;

    & > div:nth-of-type(1) {
      min-width: 130px;
    }

    & + .TagSection {
      margin-top: 10px;
    }
  }
}
