.TableSearchBox {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  display: flex;
  height: 30px;

  & input {
    border-radius: 4px;
    border: none;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 4px 30px 4px 12px;
    font-size: 14px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }

  &Button {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    & img {
      width: 14px;
    }

    &.Clickable {
      cursor: pointer;
    }
  }

  &SearchButton,
  &ClearButton {
    & img {
      transition: 0.2s;
    }

    &:hover {
      & img {
        transform: scale(1.1);
      }
    }
  }
}
