@import '@styles/_animations.scss';

.achievement {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 155px;
  width: 100%;

  .flipping {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .front {
    position: absolute;
    transform: perspective(500px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear 0s;
    opacity: 35%;
    cursor: default;
  }

  .flipFront {
    transform: perspective(500px) rotateY(-180deg);
  }

  .back {
    position: absolute;
    transform: perspective(500px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear 0s;
    opacity: 100% !important;
  }

  .flipBack {
    transform: perspective(500px) rotateY(0deg);
  }

  .flipReset {
    transform: perspective(500px) rotateY(0deg);
  }

  .flipBackReset {
    transform: perspective(500px) rotateY(180deg);
  }

  .achievementIcon {
    position: relative;
    display: inline-block;
  }

  .title {
    width: -webkit-fill-available;
    min-width: 100%; // For MOZILLA
    text-align: center;
    font-size: 16px;
    height: 40px;
    padding-top: 8px;
  }

  .tooltipContainer {
    z-index: 99999;
    background: linear-gradient(
        94deg,
        rgba(231, 233, 255, 0.61) 23.62%,
        rgba(210, 215, 255, 0.61) 99.75%
      ),
      #fff;

    border: 1px solid #d9d9d9;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: unset !important;

    > div {
      border: none;
      filter: unset;
      box-shadow: unset;

      &:nth-child(2) {
        border-bottom: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        margin-top: -1px;
      }
    }

    .arrow {
      border: 1px solid green;
    }
  }

  .achievementName {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: -moz-min-content;
    position: relative;
    align-items: center;
  }

  .unlockedAchievement {
    // Coming soon...
  }
}

.flippingAchievement {
  .achievementName {
    opacity: unset;
  }
}

.locked {
  .achievementName {
    opacity: 35%;
    cursor: default;
  }
}

@media (max-width: 1440px) {
  .achievement {
    .achievementName {
      width: min-content;
    }

    .title {
      font-size: 14px;
      padding-top: unset;
    }
  }
}

@media (max-width: 800px) {
  .achievement {
    max-width: unset;
    width: unset;

    .tooltipContainer {
      display: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  25% {
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
