.body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.Content {
  transition: 0.1s;
  margin: 94px auto 0;
  max-width: 900px;
  position: relative;

  .Title,
  .ShortName {
    font-family: 'RedHatDisplay';
    text-align: center;
    font-weight: 300;
    margin: 0;
  }

  .Title {
    font-size: 36px;
    color: #28587b;
  }

  .ShortName {
    font-size: 18px;
    color: #9e9e9e;
    margin-bottom: 30px;
  }

  & .ShiftedContent {
    min-height: calc(100vh - 130px - 48px - 54px - 68px);
  }

  & .hyLayout {
    * {
      font-family: 'NotoSansArmenian-Regular', sans-serif;
    }
  }

  & .Motto {
    font-size: 20px;
    color: #28587b;
    text-align: center;
    padding: 22px 0px;
  }
}
.hyLayout {
  * {
    font-family: 'NotoSansArmenian-Regular', sans-serif;
  }
}

@media (max-width: 1010px) {
  .Content {
    margin: 30px auto 0;
    padding-top: 16px;
  }
}

@media (max-width: 800px) {
  .body {
    overflow-y: auto;
  }

  .Content {
    margin: 35px auto 0;
    width: 100%;
    height: auto !important;
    padding-top: unset;

    .Title {
      font-weight: 600;
      font-size: 24px;
    }

    .ShortName {
      font-size: 16px;
    }

    & .ShiftedContent {
      padding: 0 16px;
    }
  }
}
