.modalBody {
  padding: 0 0 22px 0 !important;

  .img {
    object-fit: cover;
    position: relative;
    width: 100%;
  }
}

.content {
  text-align: center;
  padding: 8px 30px 0 30px;
}

.instaIcon {
  position: absolute;
  right: 34%;
  top: 21%;
  cursor: pointer;
}
