.TeamMemberSwitcher {
  display: flex;
  align-items: center;

  & .QuestionContainer {
    font-size: 16px;
    width: 100%;

    & .Question {
      margin-right: 4px;
    }

    & .QuestionMarkContainer {
      position: relative;
      top: 2px;
      cursor: help;
    }
  }

  & .SwitcherContainer {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 1440px) {
  .TeamMemberSwitcher {
    & .QuestionContainer {
      font-size: 14px;
    }
  }
}
